@{
    Layout = null;
}
@using System.Web.Mvc
@using VocabularyCard.Dtos
@helper VocabularyCardBlockUI(UrlHelper urlHelper, CardDto cardDto)
{
var url = urlHelper.Action("Detail", "Card", new { cardDto.Id });
//var url = urlHelper.HttpRouteUrl("Default", new { controller = "Card", action = "Detail" });

    <div class="vocabulary-card-block">
        <h1 class="vocabulary">
            @cardDto.Vocabulary
        </h1>
        <div class="explaination">
        </div>
        <div class="url">
            @url
        </div>
    </div>
}
