<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!-- db -->
    <add key="DbSource" value="" />
    <add key="DbName" value="" />
    <add key="UserId" value="" />
    <add key="Password" value="" />
    <add key="EncryptedPassword" value="soQMW04BFJQbx6JEzs1Acjp++paQclbFll6qQ+PRP4Y=" />
    <!-- Cache Provider-->
    <add key="CacheProviderType" value="VocabularyCard.CacheProvider.Impl.InMemoryCache.MemoryCacheProvider"/>
    <!-- token-based auth parameters, minutes -->
    <add key="RefreshTokenLifeTime" value="60"/>
    <add key="AccessTokenLifeTime" value="30"/>
    <!-- jwt -->
    <add key="JwtIssuer" value="me" />
    <add key="JwtSecret" value="hello,world!hello,jwt!" />
</appSettings>
