<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 設定 layoutA 變數和他的 value，下面可以直接用，使用方式 ${layoutA}，要注意變數名稱不要跟 NLog 保留變數衝突 -->
  <variable name="layoutA" value="[${longdate}][${level:uppercase=true}][${logger}] ${message}" />

  <targets>
    <target name="Web" xsi:type="File" fileName="LogFiles/${shortdate}@Base.log"
            layout="[${longdate}][${level:uppercase=true}][${logger}] ${message}"
            encoding="utf-8"/>
    <!--<target name="logconsole" xsi:type="Console" />-->
    <!--<target xsi:type="Database"
            name="DB"
            dbUserName="sa"
            dbProvider="sqlserver"
            usaTransaction="False"
            connectionStringName="nlog-sqlserver"
            connectionString="Data Source=.\SQLExpress;User ID=sa;Password=ua5tjonGgOFI;Initial Catalog=vocabulary;"
            keepConnection="True"
            commandText="insert into NLOG_ERROR (TIME_STAMP, LEVEL, LOGGER, MESSAGE) values (@time_stamp, @level, @logger, @message)">
      <parameter layout="${date}" name="@time_stamp" />
      <parameter layout="${level}" name="@level" />
      <parameter layout="${logger}" name="@logger" />
      <parameter layout="${message}" name="@message" />
    </target>-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="WEB" minlevel="Debug" writeTo="Web" />
    <logger name="BASE" minlevel="Debug" writeTo="Web" />
    <logger name="AccountManager" minlevel="Error" writeTo="Web" />
    <logger name="TEST" minlevel="Error" writeTo="DB" />
  </rules>
</nlog>
